@media (max-width: 1200px) {
    body {
        display: grid;
        grid-template-columns: minmax(160px, 1fr) 3fr;
    }

    .anuncios {
        grid-column: 2;
        display: flex;
    }

    .anuncio-item1{
        margin-right: 30px;
    }
}

@media (max-width: 700px) {
    body {
        grid-template-columns: 100%;
    }

    .barra-menu {
        grid-template-columns: 100%;
    }

    .menu li a{
        margin-right: 10px;
    }
    .logo {
        margin-bottom: 20px;
    }

    .icones {
        position: relative;
        padding: 0 30px;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    .icones::after {
        content:'→';
        position: absolute;
        top: 5px;
        right: 30px;
        color: rgba(0,0,0,0.3);
        animation: seta .5s ease-in 0s infinite alternate;
    }

    @keyframes seta {
        from {
            right: 30px;
        }
        to {
            right: 20px;
        }
    }

    .icones ul {
        display: flex;
    }

    .icones li {
        flex: 1 0 60px;
        margin: 30px 30px 30px 0;
    }

    .content {
        grid-column: 1;
    }

    .anuncios {
        grid-column: 1;
        display: flex;
    }

    .anuncio-item1{
        margin-right: 30px;
    }
}

@media (max-width: 600px) {
    .content {
        grid-template-columns: auto;
    }
}